#!/usr/bin/env python
PACKAGE = "dwb_critics"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("scale", double_t, 0, "Checks to see whether the sign of the commanded velocity flips frequently",    1, 0,   100)
gen.add("oscillation_reset_dist", double_t, 0, "Scale the raw score by this factor",    0.05, 0,   100)
gen.add("oscillation_reset_angle", double_t, 0, "penalty",    0.2, 0,   100)
gen.add("oscillation_reset_time", double_t, 0, "strafe_x",    -1.0, -1.0,   100)
gen.add("x_only_threshold", double_t, 0, "strafe_x",    0.05, 0.0,   100)

exit(gen.generate(PACKAGE, "oscillation", "Oscillation"))
